*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  /*home page picture*/
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(banner.jpg);
    background-position: top center;
   background-size: cover; 
   position: relative;
   z-index: 1;
   background-attachment: fixed;
  }
  .header::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: -7;
    z-index: -1;
  }
    /*navigation bar*/
    .logo{
      float: left;
      margin: 1% 4.5%;
      color:black ;
      font-weight: bold;
      font-size: 24px;
      z-index: 100;
    }
  nav{
    clear:both;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  nav ul{
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin-right: 4.5%;
  }
  nav ul li{
    display: inline-block;
    padding: 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
  }

  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  nav .fa{
    display: none;
  }
  /*home page text*/
  .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  .text-box h1{
    font-size: 38px;
  }
  .text-box p{
    padding: 10px 0 40px;
    font-size: 15px;
    color: #fff;
  }
  /*resume button*/
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover{
    border: 1px solid #007aff;
    background: #007aff;
    transition: 1s;
  }
  /*projects page*/
  .projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
  }
  h1{
    font-size: 36px;
    font-weight: 600;
  }
  p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  /*filter for the projects*/
  .projects .project-filter ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(237 237 237 0.6);
    margin: auto;
  }
  .projects .project-filter ul li{
    margin: 10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 0.8rem;
    letter-spacing: 0.5;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
  }
  .projects .project-filter ul li.active{
    background-color: #f0f0f0;
    color: #272727;
    transition: 0.5s;
  }
  /*projects gallery*/
  .projects .project-gallery{
   flex: 0 0 100%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
  }
  .projects .project-gallery .item{
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    padding: 5px;
    margin: 10px auto;
  }
  .projects .project-gallery .item .inner{
    position: relative;
    margin: 0 auto;
  }
  .projects .project-gallery .item img{
    width: 100%;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
  }
  .projects .project-gallery .item .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
    border-radius: 5px;
  }
/*project gallery hover*/
  .projects .project-gallery .item .layer:hover{
    background: rgba(0,122,255,0.7);
    height: 95%;
  }
  .projects .project-gallery .item .layer h4{
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    bottom: 0;
    top:40%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }
  .projects .project-gallery .item .layer:hover h4{
    bottom: 60%;
    opacity: 1;
  }
  /*pop up*/
  .popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
  }
  .popup .content{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 75%;
    height: 80%;
    z-index: 200;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }
  .popup.active .overlay{
    display: block;
  }
  .popup.active .content{
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms ease-in-out;
  }
  /*popup1*/
  .popup1 .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
  }
  .popup1 .content{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 75%;
    height: 80%;
    z-index: 200;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .popup h4{
    font-size: 20px;
  }
  .popup p{
    font-size: 15px;
  }
  .popup1 .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }
  .popup1.active .overlay{
    display: block;
  }
  .popup1.active .content{
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms ease-in-out;
  }
  .project-btn{
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: absolute;
    bottom: 20px;
    left: 42.5%;
    cursor: pointer;
  }
  .project-btn:hover{
    border: 1px solid rgb(208, 208, 208);
    background:rgb(208, 208, 208);
    transition: 1s;
  }
  /*contact page*/
  .contactme{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    place-items: center;
    text-align: center;
    padding-top: 80px;
  }
  h1{
    font-size: 36px;
    font-weight: 600;
  }
  /*social icons*/
  a{
    color: inherit;
    text-decoration: none;
  }
  .wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 150px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #0072b1;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #6e5494;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #bb001b;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #0EBE2C;
  }
  .wrapper .button .icon i{
    font-size: 20px;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #0072b1;
  }
  .wrapper .button:nth-child(2) span{
    color: #6e5494;
  }
  .wrapper .button:nth-child(3) span{
    color: #bb001b;
  }
  .wrapper .button:nth-child(4) span{
    color: #0EBE2C;
  }
  /*contact form*/

  .contact-form{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  .contact-box{
    max-width: 850px;
    display: grid;
    align-items: center;
    text-align: center;
  }
  .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    min-height: 150px;
  }
  
  .btn{
    width: 80%;
    padding: 0.5rem 1rem;
    background-color: #4f95ff;
    color: #fff;
    font-size: 0.9rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
  }
  
  .btn:hover{
      background-color: #007aff;
  }
  
  .field:focus{
      border: 2px solid #007aff;
      background-color: #fff;
  }
  
  /*footer*/
  footer{
    min-height: 100px;
    width: 100%;
    background: #3586ff;
    background-position: bottom center;
    background-size: cover; 
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  footer .wave{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url(wave.png);
    background-size: 500px 50px;
  }
  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
  }
  footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }
  footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }

  @keyframes animateWave{
    0% {
        background-position-x: 500px;
    }
    100% {
        background-position-x: 0px;
    }
  }
  @keyframes animateWave_02{
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 500px;
    }
  }
  @media(max-width:700px) {
    .text-box h1{
      font-size: 25px;
    }
    .projects .project-gallery .item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .nav-links ul li{
      display: block;
    }
    .nav-links{
      position: absolute;
      background: #C5C5C5;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 200;
      transition: 1s;
    }
    nav .fa{
      display: block;
      color: black;
      margin: 10px;
      font-size: 18px;
      cursor: pointer;
    }
    nav .menu{
      float: right;
      margin-right: 10px;
    }
    .popup .content{
      position: absolute;
      top: 1500px;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: #fff;
      width: 75%;
      height: 800px;
      z-index: 200;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }
  }
